<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
 	
 	
	<resultMap id="userSelectMap" type="user">
		<result property="userEmail" 			column="user_email" 			jdbcType="VARCHAR"/>
		<result property="pwd"	column="pwd" 		jdbcType="VARCHAR" />
		<result property="role" 	column="role" 		jdbcType="CHAR" />
		<result property="nick" 				column="nick" 					jdbcType="VARCHAR" />
		<result property="regDate" 				column="reg_date" 					jdbcType="DATE" />
		<result property="categNo" 			column="categ_no" 		jdbcType="INTEGER" />
		<result property="profileImg" 				column="profile_img" 					jdbcType="VARCHAR" />
		<result property="intro" 			column="intro" 				jdbcType="VARCHAR"  />
		<result property="phone" 		column="phone" 			jdbcType="VARCHAR" />
		<result property="redCardCount" 		column="redcard_count" 			jdbcType="INTEGER"  />
		<result property="accountStatus" 		column="account_status" 			jdbcType="CHAR" />
		<result property="reportCount" 		column="report_count" 			jdbcType="INTEGER" />
		<result property="totalPoint" 		column="total_point" 			jdbcType="INTEGER" />
	</resultMap>
	
	<insert 	id="addUser"		parameterType="user" >
	 	INSERT
		INTO users(user_email, pwd, role, nick, reg_date, categ_no, profile_img, intro, phone, redcard_count, account_status, report_count, total_point)
		VALUES	 (	#{userEmail : VARCHAR}, #{pwd : VARCHAR}, '1', #{nick : VARCHAR}, SYSDATE, #{categNo : INTEGER},
		   					#{profileImg : VARCHAR}, #{intro : VARCHAR}, #{phone : VARCHAR}, #{redCardCount : INTEGER}, 
		   					'1', #{reportCount : INTEGER}, #{totalPoint : INTEGER} )
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getUser"	parameterType="string"	resultMap="userSelectMap">
		SELECT
		user_email, nick, phone, categ_no, intro, profile_img, report_count, total_point		
		FROM users 
		WHERE user_email = #{value}
	 </select>
	 
	 
	 
	 
	 
	 
	 
</mapper>